
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button.primary {
    background-color: #00A9FF;
	color: black;
	font-size: 20px;
	width: fit-content;
	padding: 6px 32px;
	border: none;
	border-radius: 19px;
    font-weight: 600;
}

input.primary {
    padding: 12px;
	margin-bottom: 16px;
	border: none;
	border-radius: 20px;
	font-size: 16px;
    width: 100%;
}

// ::-webkit-scrollbar {
// 	width: 8px;
// 	height: 8px;
// 	background-color: #f5f5f5;
// }

// ::-webkit-scrollbar-thumb {
// 	background-color: #bebebe;
// 	border-radius: 4px;
// }

// ::-webkit-scrollbar-thumb:hover {
// 	background-color: #6e6e6e;
// }

// ::-webkit-scrollbar-track:hover {
// 	background-color: #f0f0f0;
// }

// ::-webkit-scrollbar-corner {
// 	background-color: #f5f5f5;
// }
